*{margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    display: flex;
    background-color: cornflowerblue;
    justify-content: center;
    align-items: center;
   
}
.contenido{
    display: flex;
    background-color: rgb(225, 134, 15);
    width: 82%;
    height: 200px;
    justify-content: center;
    align-items: center;}

.contenido_2{
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 181, 140);
}

