*{margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

.contenedor{
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 181, 140);
width: 100vh;
height: 100vh;}

main{display: flex;
justify-content: center;
align-items: center;
background-color: rgb(225, 134, 15);}